
data/PWD_PARCELS.zip
data/PWD_PARCELS/PWD_PARCELS.cpg
data/PWD_PARCELS/PWD_PARCELS.dbf
data/PWD_PARCELS/PWD_PARCELS.prj
data/PWD_PARCELS/PWD_PARCELS.shp
data/PWD_PARCELS/PWD_PARCELS.shx
data/PWD_PARCELS/PWD_PARCELS.xml
shapefile-importer.py
